.article {
    width: 244px;
    height: 933px;
    background: hsla(284, 100%, 47%, 1);
    background: linear-gradient(90deg, hsla(284, 100%, 47%, 1) 0%, hsla(266, 100%, 42%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(284, 100%, 47%, 1) 0%, hsla(266, 100%, 42%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(284, 100%, 47%, 1) 0%, hsla(266, 100%, 42%, 1) 100%);
    display: flex;


    &__list {
        margin-left: 36px;
        color: white;


        &--item:nth-child(1) {
            margin-top: 44px;
            border-bottom: solid 1px;
            width: 166px;
            color: grey;

        }

        &--item:nth-child(10) {
            margin-top: 233px;
        }

        &--item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            font-size: 15px;
            cursor: pointer;

            &--logo {
                padding-bottom: 33px;

            }

            &--img {
                margin-right: 22px;

            }
        }

    }






}